* {
    // outline: 1px dashed lime;
    text-transform: uppercase;
}

html,
body,
#__next {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.fa-spin {
    animation-duration: 500ms;
}