* {
    // outline: 1px dashed lime;
    text-transform: uppercase;
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

main {
    // display: flex;
    // flex-direction: column;
    min-height: 100%;
    // overflow: auto;
}

.fa-spin {
    animation-duration: 500ms;
}

.bg-volx {
    background-color: #121214;
}

.text-volx {
    color: #4249db;
    text-decoration: none;
    font-weight: 900;
}

.btn-volx {
    background-color: #4249db;
    color: #fff;
    font-weight: 900;
    border: none;
    outline: none;
}

.form-control-lg,
.form-control,
.input-volx {
    color: #fff;
    border: 2px solid rgb(32, 32, 36);
    background-color: rgb(32, 32, 36);
}

.select-volx {
    color: #fff;
    border: 2px solid rgb(32, 32, 36);
    background-color: rgb(32, 32, 36);
}

.btn-input-group-volx {
    background-color: rgb(32, 32, 36);
    color: #fff;
    font-weight: 900;
    border: none;
    outline: none;
}

.btn-input-group-volx:hover {
    color: #4249db;
}

.form-control-lg:focus,
.form-control:focus,
.input-volx:focus {
    color: #fff;
    border: 2px solid #4249db;
    background-color: rgb(32, 32, 36);
    outline: none;
}

.signup-btn:hover {
    background-color: #4249db;
    color: #cecece;
}

.nav-link .active {
    background-color: #4249db;
    color: #cecece;
}