* {
    // outline: 1px dashed lime;
    text-transform: uppercase;
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

main {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    // overflow: auto;
}

.fa-spin {
    animation-duration: 500ms;
}

.bg-volx {
    background-color: #121214;
}

.text-volx {
    color: #4249db;
    text-decoration: none;
    font-weight: 900;
}

.btn-volx {
    background-color: #4249db;
    color: #fff;
    font-weight: 900;
    border: none;
    outline: none;
}

.form-control-lg {
    color: #fff;
    border: 2px solid #121214;
    background-color: #121214;
}

.form-control-lg:focus {
    border: 2px solid #4249db;
    outline: none;
}

.signup-btn:hover {
    background-color: #4249db;
    color: #cecece;
}