.main_header {
    background-color: #121214;
    padding: 5PX;
}

.navbar-item-custom {
    padding: 20px 30px;
}

.navbar-item-custom:hover {
    border-bottom: 3px solid #4249db;
}

.dropdown-item-custom {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.drop-desktop {
    background-color: #121214;
    padding: 5px;
    flex-direction: row;
}

.dropdown-item-custom:hover {
    background-color: rgb(32, 32, 36);
    border-radius: 5px;
    color: #cecece;
}

@media (max-width: 1000px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .menu-toogle {
        display: block;
    }
}

@media (min-width: 1000px) {
    .mobile-nav {
        display: none;
    }


    .main_header {
        height: 72px;
    }

    .menu-toogle {
        display: none;
    }
}

.login-box {
    background-color: rgb(32, 32, 36);
    padding: 50px 30px;
    border-radius: 5px;
}